<h1>サイトの概要</h1>

このサイトはポートフォリオ作品になります。
実際の施設での運用にはご利用できません。ご注意ください。

夫婦共働きの世帯は1980年から年々増加傾向にあり、2015年には64.6%と約6割を占めています。（参照：配偶者手当の取り巻く環境について）
また、保育士が足りていないという報道を見かけることがあります。
そこで、共働きで忙しいご家庭や日々保育の現場で働いている職員に少しでもゆとりが持てるようにと思いこのサイトを作りました。