<div class= "top_background">
	<div class = "row">
	  	<div class = "col-md-6 offset-md-3">
			<h1 class = "title_name">ゆとりある保育・子育てを</h1>
		</div>
	</div>

	<div class="center-block">
		<%= link_to '新規登録', new_user_registration_path, class: "btn btn-top  btn-xs", :style=>"background-color:#fff; color:#28a745;" %>

		<%= link_to 'ログイン', new_user_session_path, class: "btn btn-top btn-xs",:style=>"background-color:#fff; color:#28a745;" %>
	</div>
</div>

<div class="row" style="margin: 30px 0 100px;">
  	<div class="col-4">
	  	<div class="photoBox">
			<h4 class="title01">
				<p>カレンダー機能</p>
				<br>
				<small>CALENDAR</small>
			</h4>
			<!-- <script src="jquery.min.js"></script>
	    	<script src="app.js"></script> -->
		</div>
		<div class="textBox">
			<span class="name">カレンダーで行事をいつでも確認ができます。</span>
		</div>
	</div>

	<div class="col-4">
	  	<div class="photoBox">
			<h4 class="title01">
				<p>急なお迎え変更でも</p>
				<br>
				<small>CONSEPT</small>
			</h4>
			<!-- <script src="jquery.min.js"></script>
	    	<script src="app.js"></script> -->
		</div>
		<div class="textBox">
			<span class="name">急にお迎え者が変更になる時でも送迎者を登録してあることで安心してお子さんを引き渡すことができます。</span>
		</div>
	</div>

	<div class="col-4">
	  	<div class="photoBox">
			<h4 class="title01">
				<p>連絡</p>
				<br>
				<small>CONSEPT</small>
			</h4>
			<!-- <script src="jquery.min.js"></script>
	    	<script src="app.js"></script> -->
		</div>
		<div class="textBox">
			<span class="name">施設からの連絡を見ることができます。</span>
		</div>
	</div>
</div>
