// Place all the styles related to the admins/admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin_title{
	color: #000;
	margin: 30px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}