<div class="container">
  	<h1>連絡一覧</h1>

	<p id="notice"><%= notice %></p>
	<div class="new-btn-wrap">
	    <%= link_to "連絡新規作成", new_admins_contact_path, class: "btn btn-primary col-xs-12"; %>
	</div>

	<table class="table">
		<thead>
      		<tr>
	    		<th>日付</th>
	    		<th>件名</th>
	    	</tr>
	    </thead>
	</table>
</div>