<div class="center-block">
  <h1>連絡詳細</h1>
</div>

<div class="center-block">
    <table class='table'>

      <tr>
        <th>件名</th>
        <th><%= @contact.title %></th>
      </tr>

      <tr>
        <th>対象クラス</th>
        <th><%= @#class_name.name %></th>
      </tr>

      <tr>
        <th>内容</th>
        <th><%= @contact.body %>
        </th>
      </tr>

    </table>
    <%= link_to "戻る", admins_contacts_path, class: "btn btn-primary btn-xs"; %>
  </div>
</div>