/*
 *= require fullcalendar

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

header{
	position: fixed;
	width: 100%;
}

.navbar-inverse {
	background-image: image-url('header.jpg');
	background-position: bottom;
}

/*ブランドロゴのデザイン*/
.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 250%;
	padding-top: 30px;
	padding-right: 200px;
	border-bottom-color: #fff;
}

.nav-list-item {
	padding-right: 40px;
	font-weight: 600;
}

.nav-list-item a {
	color: #fff;
}

.my_page{
	background: linear-gradient(transparent 0%, #fec1fe 200%);
}


.no-underline {
	text-decoration:none !important;
}

.session_style{
	color: #fff;
}

.center-block-session{
	color: #fff;
	text-align: center;
	margin-top: 30px;
}

.title {
	color: #fff;
}

.btn{
	background-color:#fff;
	color:#28a745;
	border-color: #28a745;
}

body{
/* footerの高さの最大値 */
 	padding-bottom: 0;
}

footer{
	 min-height: 20px;
	 width:100%;
	 position: fixed;
	 bottom: 0;
	 margin-bottom: 0;
	 background-color: #000;
	 z-index: 20;
}
