// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_background {
	background-image: image-url('top_background.jpg');
	background-size: cover;
	background-position: center center;
	height: auto;
	margin: 0;
}

.title_name{
	text-align: center;
	margin: 300px 0 300px 0;
	position: center;
  	color: white;/*文字は白に*/
  	background: linear-gradient(transparent 0%, #B384FF 100%);
}

.center-block{
	color: #fff;
	text-align: center;
}

.btn-top{
	margin-bottom: 50px;
}



