// Place all the styles related to the Users/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact_background {
	background-image: image-url('contact_background.jpg');
	background-size: cover;
	background-position: center center;
	height: auto;
	margin: 0;
	opacity: 0.8;
}

.marker_blue{
	background: linear-gradient(transparent 0%, #00d2ff 200%);
}